<!doctype html>
<html ng-app="kymiaShopApp">
<?php
	session_start() ;
	$login = false ;
	require_once('check_login.php') ;
?>
<head >
    <meta charset="utf-8"/>
    <title>Shop</title>
    <link rel="stylesheet" href="styles/shopstyles.css"/>
    <link rel="stylesheet" href="styles/shopnav.css" >
</head>

<body style="padding: 0 0;"  ng-controller="ShopCtrl">


<!-- Navigation -->
<nav>
    <div class="container">
        <ul class="navbar-left">
            <li><a>Home</a></li>
        </ul> <!--end navbar-left -->

        <ul class="navbar-right">
            <li><a href="#" id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">{{cart.length}}</span></a></li>
        </ul> <!--end navbar-right -->
    </div> <!--end container -->
</nav>
<div class="container">
    <div class="shopping-cart">
        <div class="shopping-cart-header">
            <i class="fa fa-shopping-cart cart-icon"></i><span class="badge"></span>
            <div class="shopping-cart-total">
                <span class="lighter-text">Total:</span>

                <span class="main-color-text">{{getCartPrice()}}</span>
            </div>
        </div> <!--end shopping-cart-header -->

    </div> <!--end shopping-cart -->
</div> <!--end container -->

<div class="container">
    <div ng-repeat ="product in products" >
        <div class="col-sm-4" style="    margin: 10px 0;">
            <div class="shop-card">
                <div class="title">
                    {{product.title}}
                </div>

                <div class="slider">
                    <figure data-color="#E24938, #A30F22 ">
                        <!--<img src="{{product.image}}" height="150" width="150"/>-->
                    </figure>
                </div>
                <div class="cta">
                    <div class="price">$ {{product.price}}</div>
                    <button ng-click="addToCart(product);" class="btn">Add to cart<span class="bg"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="cart.length" class="shopping-cart">
    <h2>{{cart.length}} item(s) in cart, total:  {{getCartPrice()}}$</h2>

			<span class="cart-item th radius" ng-repeat="product in cart">
				<div class="row">
					<div class="col-sm-6">
							<img ng-src="{{product.image}}" height="150" width="150" title="{{product.title}}"/>
					</div>
					<div class="col-sm-4"><h3>{{product.title}}</h3></div>
					<div class="col-sm-2">
							<h4>{{product.price}}</h4>
							<span class="badge" ng-show="product.quantity > 1">
								x{{product.quantity}}
							</span>
					</div>
			</div>
			<hr>
			</span>

    <button class="btn" ng-click="checkout();">Checkout</button>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">$(document).ready(function(){
    $(".shopping-cart").hide();
    $("#cart").on("click", function() {
        $(".shopping-cart").fadeToggle( "fast");
    });

});
</script>


<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular-animate.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js"></script>

<!-- our code -->
<script type="text/javascript" src="js/ui-bootstrap-tpls-1.2.5.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.min.js"></script>


<script src="js/app.js"></script>

</body>
</html>
