/* cart icon number */
#cart-count {
    position: absolute;
    right: 0;
    top: 20%;
    font-size: 10px;
    background: #1279ff;
    color: #fff;
    /*margin-left: -10px;*/
    padding: 0 5px;
    vertical-align: top;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.shop_picker {
    margin-top: 50px;
}

.shop_picker .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.picker_options {
    margin-bottom: 100px;
}

.picker_options .inner {
    background-color: white;
    padding: 10px;
    height: 300px;
    margin-bottom: 5px;
}

.description {
    text-align: center;
}

.custom-radio-color {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 15px 30px;
}

.custom-radio-size {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.custom-radio-size, .custom-radio-color {
    border: 2px solid #ccc;
    margin: 0 5px;
}

.custom-radio-size.active, .custom-radio-color.active {
    border: 2px solid #087600;
}