html {
	height:100%;
}
body{
  height: 100%;}

/*costom font*/
/*Credit: Andrew Herndon*/
@font-face
{
	font-family: LuxiaSB;
  src: url(font/Luxia-Semi-Bold.otf);

	font-family: LuxiaSBD;
	  src: url(font/Luxia-Semi-BoldDisplay.otf);
}
/*Styleing send button*/

#woman_logo
{
	display: inline;
	height: 50%;
	width: 50%;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
		background: none;
}
/*End Styling send button*/
/*Credit: https://drive.google.com/file/d/0B_LOCzPvsrVneGl2cjNIcWRjcUE/view*/
@font-face
{
	font-family: IkarosL;
	src: url(font/Ikaros-Light.otf);

	font-family: IkarosR;
	src: url(font/Ikaros-Regular.otf);

}

h2
{
	font-family: LuxiaSB;
	font-size: 50px;
}
.top-buffer{
  margin-top:10px;
}
.lower-buffer{
  margin-top: 30px;
}
.col-centered{
  float: none;
  margin: 0 auto;
  margin-top: 20px;
}


/*home section*/
.home_container{
	display: flex;
 	flex-direction: column;
 	height: 100%;
}


.home_img
{
  padding-left: 0;
  padding-right: 0;
}

.div_center
{
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*Shop now button*/

.shop_now_btn
{
		padding: 14px 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform:uppercase;
    background: none;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 15px;
		border-color:  #2b2b2b;
		border-style: solid;
		border-width: 1px;
		border-radius: 0;
		border-top: 0;
		border-bottom: 0;
	}


/*Women row*/
.women_row
{
	background: url(../Images/tshirt.jpg);
	background-size: cover;
	height: 50%;
}

#woman_logo
{
	padding-top: 30%;
}
#shop_now_women
{
	padding-top: 15%;
}
/*Men row*/
.men_row
{
	background: url(../Images/tshirtw.jpg);
		background-size: cover;
	height: 50%;
}
#shop_now_men
{
	padding-top: 10%;
}

#man_logo
{
	padding-top: 20%;
}

.shop_now_btn_men
{
	padding-left: 40px;
	padding-right: 40px;
}
