html {
	height:100%;

}
body{

  height: 100%;}

/*costom font*/
/*Credit: Andrew Herndon*/
@font-face
{
	font-family: LuxiaSB;
  src: url(font/Luxia-Semi-Bold.otf);

	font-family: LuxiaSBD;
	  src: url(font/Luxia-Semi-BoldDisplay.otf);
}
/*Styleing send button*/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
		background: none;
}
/*End Styling send button*/
/*Credit: https://drive.google.com/file/d/0B_LOCzPvsrVneGl2cjNIcWRjcUE/view*/
@font-face
{
	font-family: IkarosL;
	src: url(font/Ikaros-Light.otf);

	font-family: IkarosR;
	src: url(font/Ikaros-Regular.otf);

}

.top-buffer{
  margin-top:10px;
}
.lower-buffer{
  margin-top: 30px;
}
.col-centered{
  float: none;
  margin: 0 auto;
  margin-top: 20px;
}


/*home section*/
.home_container{
  padding-left: 0;
  padding-right: 0;
}


.home_img
{
  padding-left: 0;
  padding-right: 0;
}


#women_bkg
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -10;
}

.women-section
{

}

#men_bkg
{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -10;
}
